<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Proyecto esperanza</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header><img src="img/Logo.png" alt="Logo La Esperanza" class="logo"></header>
<main>
    <section class="Login">

        <form th:action="@{register}" method="POST" th:object="${usuario}">
            <label for="username">Username</label>
            <br>
            <input type="text" id="username" field="*{username}" name="username" required autofocus="autofocus">
            <br>
            <label for="password">Password</label>
            <br>
            <input type="text"  id="password" field="*{password}" name="password" required autofocus="autofocus">
            <br>
            <input type="submit" value="Log in">
        </form>


    </section>
</main>
</body>
</html>